<mat-card style="padding: 0;">
    <div style="position: relative;">
        <img [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path">
        <div style="position: absolute; bottom: 0; left: 0;">{{movie.release_date}}</div>
    </div>
    <mat-card-content style="margin: 20px">
        <div style="height: 100%;">
            <div class="mat-h2 movie-title">{{movie.original_title}}</div>
            <div class="mat-h3 movie-genre">{{movie.geners}}</div>
        </div>
        <div>
            <div class="movie-rate">{{movie.vote_average}}</div>
        </div>
    </mat-card-content>
</mat-card>