
<div class="component">
    <div class="toolbar karros_content_padding">
        <div class="mat-h1">THEMOVIEBOX</div>
        <div style="display: flex; align-items: center;">
            <div class="karros_button_icon" style="background-image: url('/assets/search-icon.png')"></div>
            <button mat-button color="accent">LOG IN</button>
            <button mat-raised-button color="primary">SIGN UP</button>
        </div>
    </div>
    <div class="slider">
        <div class="swiper-container position-relative">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class='main_image' src="/assets/Bitmap.jpg">
                    <div class="karros_content_padding">
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class='main_image' src="/assets/Bitmap2.jpg">
                    <div class="karros_content_padding"></div>
                </div>
                <div class="swiper-slide">
                    <img class='main_image' src="/assets/Bitmap2.jpg">
                    <div class="karros_content_padding"></div>
                </div>
            </div>
            <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
    </div>
</div>