<div class="component">
    <div class="toolbar karros_content_padding">
        <div class="mat-h1">THEMOVIEBOX</div>
        <div style="display: flex; align-items: center;">
            <div class="karros_button_icon" style="background-image: url('/assets/search-icon.png')"></div>
            <button mat-button color="accent">LOG IN</button>
            <button mat-raised-button color="primary">SIGN UP</button>
        </div>
    </div>
    <div class="slider">
        <div class="swiper-container position-relative">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class='main_image' src="/assets/Bitmap.jpg">
                    <div class="karros_content_padding slide-content">
                        <div class="movie-info">
                            <div class="mat-display-2">WRAPTH OF THE TITANS</div>
                            <div class="mat-h3">
                                <label>Fantasy</label>
                                <label>Animation</label>
                                <label>Family</label>
                                <label>|</label>
                                <label>Duration: 1h 52m</label>
                            </div>
                            <div>
                                <button mat-raised-button color="primary">WATCH MOVIE</button>
                                <button mat-stroked-button>VIEW INFO</button>
                                <button mat-button>+ ADD TO WISHLIST</button>
                            </div>
                        </div>
                        <div class="movie-rating">
                            <div>
                                <label class="rating-text">Rating</label><span>base on 3.546 reviews</span>
                            </div>
                            <div class="stars">
                                <div class="karros_button_icon" style="background-image: url('/assets/star.png')"></div>
                                <div class="karros_button_icon" style="background-image: url('/assets/star.png')"></div>
                                <div class="karros_button_icon" style="background-image: url('/assets/star.png')"></div>
                                <div class="karros_button_icon" style="background-image: url('/assets/start-half.png')"></div>
                                <div class="karros_button_icon" style="background-image: url('/assets/star-less.png')"></div>
                                <div class="number">3.4</div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <!-- <button md-raised-button color="primary"></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>