@import "../../theme-color.scss";

.component {
  .toolbar {
    display: flex;
    justify-content: space-between;

    .menu {
      width: 40%;
      display: flex;
      border: 3;

      .item {
        flex-basis: 200px;
        text-align: center;
        margin: 0;

        &.selected {
          color: $karros-primary;
          border: 3px solid $karros-primary;
          ;
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
    }

    .view-mode {
      display: flex;
    }
  }
}

::ng-deep {
  mat-tab-group {
    .mat-tab-label {
      color: $karros-primary;
    }

    .mat-tab-body-content {
      overflow-y: visible;
    }
  }
}

.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
