<div class="karros_content_padding component">
    <div class="menu">
        <div class="mat-h1">THEMOVIEBOX</div>
        <div style="display: flex;">
            <div class="menu_item mat-h2">About</div>
            <div class="menu_item mat-h2">Movies</div>
            <div class="menu_item mat-h2">Ratings</div>
            <div class="menu_item mat-h2">Contacts</div>
        </div>
    </div>
    <div class="credit">
        <div>Designed by Milan Houter. All rights reserved.</div>
        <div class="social_icon">
            <div class="karros_button_icon" style="background-image: url('assets/fa-icon.png');"></div>
            <div class="karros_button_icon" style="background-image: url('assets/pin-icon.png');"></div>
            <div class="karros_button_icon" style="background-image: url('assets/tw-icon.png');"></div>
            <div class="karros_button_icon" style="background-image: url('assets/in-icon.png');"></div>
        </div>
    </div>
</div>